<section id="instagram">
    <div class="owl-carousel instagram">
        <div><img src="~/img/instagram1.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram2.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram3.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram4.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram5.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram6.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram7.jpg" class="img-fluid" alt=""></div>
        <div><img src="~/img/instagram8.jpg" class="img-fluid" alt=""></div>
    </div>
    <div class="hastag bg-light text-muted py-2 px-3">
        #FIORELLO
    </div>
</section>